body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px;
    position: relative;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    height: 150px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    gap: 10px; /* Add space between buttons */
}

button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}

.list-button {
    background-color: #008080;
}

.list-button:hover {
    background-color: #005757;
}

.help-button {
    background-color: #ff9800;
}

.help-button:hover {
    background-color: #e68900;
}

/* Adjust the loading image size here */
.loading {
    width: 300px;   /* Adjust this value */
    height: 300px;  /* Adjust this value */
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex;
}
